{% extends 'bootstrap.html.twig' %}
{% block doctype %} {{ parent() }} {% endblock %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}{{ parent() }} - Subtitle{% endblock %}</title>
{% endblock %}
{% block body %}
    {{ parent() }}


{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
