{% block doctype %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
{% endblock %}
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta lang="pl-PL">
        <title>{% block title %}Floracare{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Here should be linked all stylesheets - folder web | same method -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/sl-slide.css') }}"/>
        <!-- Here should be linked all bootstrap related scripts -->
        <script src="{{ asset('js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('images/ico/favicon.ico') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
              href="{{ asset('images/ico/apple-touch-icon-144-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
              href="{{ asset('images/ico/apple-touch-icon-114-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
              href="{{ asset('images/ico/apple-touch-icon-72-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" href="{{ asset('images/ico/apple-touch-icon-57-precomposed.png') }}"/>

    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
