{% block doctype %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
{% endblock %}
{% block head %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta lang="pl-PL">
        <title>{% block title %}Floracare{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Here should be linked all stylesheets - folder web | same method -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/sl-slide.css') }}"/>
        <!-- Here should be linked all bootstrap related scripts -->
        <script src="{{ asset('js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('css/images/ico/favicon.ico') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
              href="{{ asset('css/images/ico/apple-touch-icon-144-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
              href="{{ asset('css/images/ico/apple-touch-icon-114-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
              href="{{ asset('css/images/ico/apple-touch-icon-72-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed"
              href="{{ asset('css/images/ico/apple-touch-icon-57-precomposed.png') }}"/>
        <!-- Import font -->
</head>
{% endblock %}
{% block body %}
    <body>
    <!--Header-->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a id="logo" class="pull-left" href="/"></a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="{{ path('about')}}">About</a></li>
                        <li><a href="{{ path('blog') }}">Blog</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages&nbsp;&nbsp;<i
                                        class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('demo') }}">Demo</a></li>
                                <li><a href="{{ path('faq') }}">FAQ</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="{{ path('pricing') }}">Pricing</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('privacy') }}">Privacy Policy</a></li>
                                <li><a href="{{ path('terms') }}">Terms of Use</a></li>
                            </ul>
                        </li>
                        <li class="login">
                            <a data-toggle="modal" href="#loginForm">Sign in&nbsp;&nbsp;<i class="icon-lock"></i></a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </header>
    </body>
    <!-- /header -->

{% endblock %}

{% block footer %}

    <!--Footer-->
    <footer id="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span5 cp">
                    &copy; 2018 <a target="_blank" href="http://shapebootstrap.net/"
                                   title="Free Twitter Bootstrap WordPress Themes and HTML templates">Floracare Project</a>.
                    All Rights Reserved.
                </div>
                <!--/Copyright-->

                <div class="span6">
                    <ul class="social pull-right">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://github.com/pskowronek90/garden/tree/bootstrap" target="_blank"><i class="icon-github-alt"></i></a></li>
                    </ul>
                </div>

                <div class="span1">
                    <a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
                </div>
                <!--/Goto Top-->
            </div>
        </div>
    </footer>
    <!--/Footer-->

    {#TODO Adjust Login Form once the core application will be created #}

    <!--  Login form -->
    <div class="modal hide fade in" id="loginForm" aria-hidden="false">
        <div class="modal-header">
            <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
            <h4>Floracare Panel Login</h4>
        </div>
        <!--Modal Body-->
        {#TODO Action - separate application site #}
        <div class="modal-body">
            <form class="form-inline" action="/" method="post" id="form-login">
                <input type="text" class="input-small" placeholder="Email">
                <input type="password" class="input-small" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <a href="#">Forgot my password</a>&nbsp;<a href="/register" style="float:  right">Create new account</a>
        </div>
        <!--/Modal Body-->
    </div>
    <!--  /Login form -->

    <script src="{{ asset('js/vendor/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <!-- Required javascript files for Slider -->
    <script src="{{ asset('js/jquery.ba-cond.min.js') }}"></script>
    <script src="{{ asset('js/jquery.slitslider.js') }}"></script>
    <!-- /Required javascript files for Slider -->

    <!-- SL Slider -->
    <script type="text/javascript">
        $(function () {
            var Page = (function () {

                var $navArrows = $('#nav-arrows'),
                    slitslider = $('#slider').slitslider({
                        autoplay: true
                    }),

                    init = function () {
                        initEvents();
                    },
                    initEvents = function () {
                        $navArrows.children(':last').on('click', function () {
                            slitslider.next();
                            return false;
                        });

                        $navArrows.children(':first').on('click', function () {
                            slitslider.previous();
                            return false;
                        });
                    };

                return {init: init};

            })();

            Page.init();
        });
    </script>
    <!-- /SL Slider -->

{% endblock %}

</body>
