{% extends 'bootstrap.html.twig' %}
{% block doctype %} {{ parent() }} {% endblock %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}{{ parent() }} - FAQ{% endblock %}</title>
{% endblock %}
{% block body %}
    {{ parent() }}

    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>FAQ</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
                        <li><a href="#">Pages</a> <span class="divider">/</span></li>
                        <li class="active">FAQ</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->

    <section id="faqs" class="container">
        <ul class="faq">
            <li>
                <span class="number">01</span>
                <div>
                    <h4>Can I use it for free?</h4>
                    <p>Yes - with limited use</p>
                </div>
            </li>

            <li>
                <span class="number">02</span>
                <div>
                    <h4>How can I support your project?</h4>
                    <p>It's optional</p>
                </div>
            </li>

            <li>
                <span class="number">03</span>
                <div>
                    <h4>Is is possible to join Floracare Team?</h4>
                    <p>Yes :)</p>
                </div>
            </li>
        </ul>
        <p>&nbsp;</p>

    </section>

{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
