{% extends 'bootstrap.html.twig' %}
{% block doctype %} {{ parent() }} {% endblock %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}{{ parent() }} - Registration{% endblock %}</title>
{% endblock %}
{% block body %}
    {{ parent() }}

    <!-- /header -->
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Registration</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
                        <li><a href="#">Pages</a> <span class="divider">/</span></li>
                        <li class="active">Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->
    <section id="registration-page" class="container">
        <form class="center" action='' method="POST" role="form">
            <fieldset class="registration-form">

                <div class="control-group">
                    <!-- Username -->
                    <div class="controls">
                        <input required type="text" id="username" name="username" placeholder="Username" class="input-xlarge">
                    </div>
                </div>

                <div class="control-group">
                    <!-- E-mail -->
                    <div class="controls">
                        <input required type="text" id="email" name="email" placeholder="E-mail" class="input-xlarge">
                    </div>
                </div>

                <div class="control-group">
                    <!-- Password-->
                    <div class="controls">
                        <input required type="password" id="password" name="password" placeholder="Password"
                               class="input-xlarge">
                    </div>
                </div>

                <div class="control-group">
                <!-- Agree -->
                    <input required type="checkbox" name="agree" id="agree">&nbsp;I accept Terms of Use & Privacy Policy
                </div>


                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success btn-large btn-block" type="submit">Register</button>
                    </div>
                </div>
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}
{% block footer %} {{ parent() }} {% endblock %}