{% extends 'admin/base/admin.html.twig' %}
{% block doctype %}{{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}


    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">My Plants</h4>
                        </div>
                        <div class="content">
                            <div id="chartHours" class="ct-chart">
                                {% for plant in plants %}
                                    <img id="plant-photo" src="{{ asset('plants/' ~ plant.photo) }} ">
                                    {#<span>{{ plant.name }}</span>#}
                                    <a style="text-decoration: none; color: #0e0e0e"
                                       href="{{ path('plant-details-get', {'id': plant.id}) }}">{{ plant.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card ">
                        <div class="header">
                            <h4 class="title">Weather</h4>
                        </div>
                        <div class="content">
                            <div id="chartActivity" class="ct-chart">
                                <div id="openweathermap-widget-15"></div>
                                <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
                                    window.myWidgetParam.push({
                                        id: 15,
                                        cityid: '3088171',
                                        appid: 'b8905cb5e31a9326e1ab0e1e58b78fed',
                                        units: 'metric',
                                        containerid: 'openweathermap-widget-15',
                                    });
                                    (function () {
                                        var script = document.createElement('script');
                                        script.async = true;
                                        script.charset = "utf-8";
                                        script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(script, s);
                                    })();</script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8    ">
                    <div class="card ">
                        <div class="header">
                            <h4 class="title">Tasks</h4>
                        </div>
                        <div class="content">
                            <div class="table-full-width">
                                <table class="table">
                                    <p style="color: yellow">&nbsp;&nbsp;Active Tasks</p>
                                    <tbody>
                                    {% for activeTask in activeTasks %}
                                        <tr>
                                            <td>{{ activeTask.date|date("d F") }}</td>
                                            <td><a style=" font-weight: bold; text-decoration: none; color: #0e0e0e"
                                                   href="{{ path('dashboard-details-get', {'id': activeTask.id}) }}">{{ activeTask.description }}</a>
                                            </td>
                                            <td>
                                                <a style="font-weight: bold; text-decoration: none;"
                                                   href="{{ path('plant-dashboard-details', {'id': activeTask.plant.id}) }}
                                                ">{{ activeTask.plant.name }}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <table class="table">
                                    <p style="color: green">&nbsp;&nbsp;Completed Tasks</p>
                                    <tbody>
                                    {% for completedTask in completedTasks %}
                                        <tr>
                                            <td>{{ completedTask.date|date("d F") }}</td>
                                            <td><a style=" font-weight: bold; text-decoration: none; color: #0e0e0e"
                                                   href="{{ path('dashboard-details-get', {'id': completedTask.id}) }}">{{ completedTask.description }}</a>
                                                {#<td>{{ completedTask.plant.name }}</td>#}
                                            <td>
                                                <a style="font-weight: bold; text-decoration: none;"
                                                   href="{{ path('plant-dashboard-details', {'id': completedTask.plant.id}) }}
                                                ">{{ completedTask.plant.name }}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block footer %}
    {{ parent() }}

{% endblock %}