{% extends 'bootstrap.html.twig' %}
{% block doctype %} {{ parent() }} {% endblock %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}{{ parent() }} - Subtitle{% endblock %}</title>
{% endblock %}
{% block body %}
    {{ parent() }}

    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Blog</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
                        <li class="active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->
    <br>
    <div class="container">

        {% for post in posts %}

            <div class="col-md-12">
               <a href="{{ post.id }}"><h1>{{ post.subject }}</h1></a>
                <img style="width: 256px; height: 170px" src="{{ asset('css/images/sample/blog/' ~ post.photo) }} ">
                <p>{{ post.short }}</p>
                <div>
                    <span class="badge">Posted {{ post.date|date('d M Y') }}</span>
                    <div class="pull-left"><span class="label label-success">{{ post.category }}</span>&nbsp;&nbsp;</div>
                </div>
                <hr>
            </div>

        {% endfor %}

    </div>
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}