{% extends 'bootstrap.html.twig' %}
{% block doctype %} {{ parent() }} {% endblock %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}{{ parent() }} - Blog{% endblock %}</title>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="col-md-12">
        <h1>{{ post.subject }}</h1>
        <img style="width: 256px; height: 170px" src="{{ asset('css/images/sample/blog/' ~ post.photo) }} ">
        <p>{{ post.content }}</p>
        <div>
            <span class="badge">Posted {{ post.date|date('d M Y') }}</span>
            <div class="pull-left"><span class="label label-success">{{ post.category }}</span>&nbsp;&nbsp;</div>
        </div>
        <hr>
    </div>

{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}