{% extends 'bootstrap.html.twig' %}
{% block doctype %} {{ parent() }} {% endblock %}
{% block head %}
    {{ parent() }}
    <!-- Include Editor style. -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/css/froala_style.min.css' rel='stylesheet' type='text/css' />

    <!-- Include JS file. -->
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/js/froala_editor.min.js'></script>
    <title>{% block title %}{{ parent() }} - Create Post{% endblock %}</title>
{% endblock %}
{% block body %}
    {{ parent() }}

    <form method="post">
        <div class="form-group">
            <label for="subject">Subject</label>
            <input required type="text" class="form-control" id="subject" name="subject" placeholder="Post Subject">
        </div>
        <div class="form-group">
            <label for="content">Short Text</label>
            <input required type="text" class="form-control" id="short" name="short" placeholder="Short Text">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select required class="form-control" id="category" name="category">
                {% for category in category %}
                    <option value="{{ category.type }}">{{ category.type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="photo">Photo (name.extension)</label>
            <input required type="text" class="form-control" id="photo" name="photo">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <textarea required class="form-control" id="text" name="text" rows="10" cols="40" style="resize: none; width: 80em"></textarea>
        </div>
        <div class="form-group">
            <input required type="submit" value="Create Post">
        </div>
    </form>

{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}


