{% extends 'admin/base/admin.html.twig' %}
{% block doctype %}{{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Delete Task</h4>
                    </div>
                    <div class="content">
                        <form method="post">
                            <div class="row">

                                <div class="col-md-3">

                                    <div class="form-group">
                                        <label>Task</label><br>
                                        <select name="taskID">
                                            {% for task in tasks %}
                                                <option value="{{ task.id }}">
                                                    {{ task.description }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger btn-fill pull-left">Delete Task</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


            {% endblock %}


            {% block footer %}
            {{ parent() }}

{% endblock %}