{% extends 'admin/base/admin.html.twig' %}
{% block doctype %}{{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}



    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="card">
                        <div class="header">
                            <h4 class="title">Task Details</h4>
                        </div>
                        <br>
                        <b>Description:</b> {{ task.description }}<br>
                        <b>Planned Date:</b> {{ task.date|date("d F") }}<br>
                        <b>Related Plant:</b> {{ task.plant.name }} <br>
                        <b>Status:</b> {{ task.status }}<br>
                        <b>Comments:</b><br><br>
                        {% for comment in comments %}
                        <span id="added">Added on: {{ comment.timestamp|date('d F Y H:i:s')}}</span>
                            <div class="alert alert-success">
                                <span>{{ comment.content }}</span><br>
                            </div>
                        {% endfor %}
                        <br>
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Add Comment</label>
                                <textarea required cols="40" rows="5" name="taskComment"
                                          class="form-control"></textarea>
                                <button type="submit" class="btn btn-info btn-fill pull-left">Add Comment</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
