{% extends 'admin/base/admin.html.twig' %}
{% block doctype %}{{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Task</h4>
                    </div>
                    <div class="content">
                        <form method="post">
                            <div class="row">

                                <div class="col-md-3">

                                    <div class="form-group">
                                        <label>Task</label><br>
                                        <select name="taskID">
                                            {% for task in tasks %}
                                                <option value="{{ task.id }}">
                                                    {{ task.description }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea cols="40" name="taskDesc" class="form-control"
                                                  placeholder="New Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Planned Date</label>
                                        <input type="date" name="taskDate" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Status</label>
                                        <select name="status">
                                            <option value="1">Active</option>
                                            <option value="0">Completed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-left">Update Task</button>
                    <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>


        {% endblock %}


        {% block footer %}
        {{ parent() }}

{% endblock %}